h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 210303002-01 
        p.mb-0 presentar los reportes y los estados financieros según la norma de información financiera NIIF para microempresas.