h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Presentar los reportes y los estados financieros según la norma de información financiera NIIF para microempresas.





