.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Fundamentos NIIF para microempresas
            h1.curso-titulo LA EMPRESA

            .brand-line-primary

            p.curso-descripcion Conocer la información contable y financiera como resultados de la gestión en una organización y analizar sus resultados para la toma de decisiones.

            br

            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")               