include ../mixins/functions

+pageHeader('LA EMPRESA', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 1. La Empresa
        .brand-line-primary
    #11
    .header-ecored
        h1.mt-5 1.1 Concepto de empresa
        .brand-line-primary        
    .header
        .card
            .card-body
                p Se define como una organización dedicada a actividades industriales, mercantiles o de prestación de servicios con fines lucrativos. Su función es la realización de una actividad productiva o transformadora en la que a partir de unos recursos se obtienen unos productos o servicios. Zapata (2017), la define como: “Ente económico creado por uno a varios propietarios para producir bienes o servicios que con el apoyo del talento humano, además de realizar otras actividades financieras y tecnológicas, busca generar utilidad para los socios y/o dueños”. 

                h1.mt-5 Para cumplir sus objetivos, toda empresa ha de coordinar los siguientes factores: 

                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img1.svg").img-fluid

                p.mt-5 La coordinación de los diferentes factores es posible gracias a la administración de la empresa  y la dirección es la encargada de establecer los objetivos, tomar decisiones y velar que se ejecuten. 
    #12
    .header-ecored
        h1.mt-5 1.2 Clasificación de las empresas
        .brand-line-primary 

    .header
        .card
            .card-body
                p Todas las empresas tienen las características comunes ya mencionadas, no todas son iguales. Dependiendo del criterio al clasificarlas, existen diferentes tipos de empresas: 

                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img2.svg").img-fluid
    #13
    .header-ecored
        h1.mt-5 1.3 Tipo de sociedades
        .brand-line-primary               

    .header
        .card
            .card-body
                p.mb-5 Las empresas tienen persona jurídica y se clasifican en sociedades mercantiles y sociedades mercantiles especiales

                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                        li(data-target='#carouselExampleIndicators', data-slide-to='3')
                        li(data-target='#carouselExampleIndicators', data-slide-to='4')
                        li(data-target='#carouselExampleIndicators', data-slide-to='5')
                        li(data-target='#carouselExampleIndicators', data-slide-to='6')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_mercantiles-01.png', alt='0')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_mercantiles-02.png', alt='1')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_mercantiles-03.png', alt='2')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_mercantiles-04.png', alt='3')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_mercantiles-05.png', alt='4')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_mercantiles-06.png', alt='5')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_mercantiles-07.png', alt='6')                            
                                                                                    
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
      

    .header-ecored
        h1.mt-5 1.3.2 Sociedades mercantiles especiales
        .brand-line-primary               

    .header
        .card
            .card-body
                p.mb-5 Dentro de este título se encuentran los siguientes tipos de sociedades: 

                #carouselExampleIndicators1.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators1', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='2')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='3')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='4')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_especiales_Mesa de trabajo 1.png', alt='0')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_especiales-02.png', alt='1')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_especiales-03.png', alt='2')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_especiales-04.png', alt='3')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/sociedades_especiales-05.png', alt='4')                          
                                                                                    
                    a.carousel-control-prev(href='#carouselExampleIndicators1', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators1', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next 

                p.my-5.text-center Se dividen en sociedades de capital riesgo y fondos de capital riesgo.

                .row.justify-content-center.align-items-center.text-center
                    .col-8.bg-color-1.px-5.py-5.border-radius
                        h3 Agrupaciones de interés económico 
                        p.mt-5 Sociedad mercantil, sin ánimo de lucro, que tiene por finalidad facilitar el desarrollo o mejorar los resultados de la actividad de sus socios. Su objetivo se limitará exclusivamente a una actividad económica auxiliar de la que se desarrollen sus socios, quienes responderán subsidiaria, personal y solidariamente entre sí por las deudas de la agrupación. 
                        h3.mt-5 Sociedad de inversión mobiliaria  
                        p.mt-5  Sociedades anónimas, de capital fijo o variable, que tienen por objeto exclusivo la adquisición, tenencia, disfrute, administración en general y enajenación de valores mobiliarios y otros activos financieros, para compensar, por una adecuada composición de sus activos, los riesgos y los tipos de rendimiento, sin participación mayoritaria económica o política en otras sociedades.  
    #14
    .header-ecored
        h1.mt-5 1.4 Concepto contable de empresa
        .brand-line-primary               

    .header
        .card
            .card-body
                p Urueña (2010), lo define contablemente como: “la producción, transformación, distribución, administración o custodia de bienes, para la comercialización y/o prestación de servicios”. Existe una empresa cuando posee los factores personas, capital, trabajo y tecnología.
    #15
    .header-ecored
        h1.mt-5 1.5 Sectores económicos
        .brand-line-primary               

    .header
        .card
            .card-body
                p Córdoba (2014), afirma que: “La empresa es miembro de un sistema económico constituido por una serie de estructuras que implican las relaciones económicas, sociales e institucionales y los elementos demográficos, técnicos, geográficos y políticos que vinculados fundamentan la evolución, origen y naturaleza de los fenómenos sociales”. 
                br
                p Como parte de este sistema se encuentran diferentes actividades económicas y/o productivas que se encuentran clasificadas por sectores económicos como lo muestra a continuación la figura 1. 
    
                .row.justify-content-center.align-items-center.my-5.bg-color-1.border-radius

                    .col-12.col-md-3.pl-2.py-2
                        img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid.border-radius
                    .col-12.col-md-9.py-5.px-4

                        p.mb-0 Es existencia en determinada cantidad de materias y mercancía, necesaria para la elaboración de un producto. Estos activos son valiosos para la organización ya que, en parte, depende de su disponibilidad, administración y buen estado, la continuidad de un proceso productivo. Por ejemplo: un inventario de rollos de tela de diferentes características, necesario para la confección de prendas de vestir femeninas y masculinas. 

                .row.justify-content-center.align-items-center.my-5.bg-color-1.border-radius

                    .col-12.col-md-3.pl-2.py-2
                        img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid.border-radius
                    .col-12.col-md-9.py-5.px-4

                        p.mb-0 Recibe del sector primario la materia y en el sector secundario se transforma con el fin de que llegue al consumidor final. 

                .row.justify-content-center.align-items-center.my-5.bg-color-1.border-radius

                    .col-12.col-md-3.pl-2.py-2
                        img.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid.border-radius
                    .col-12.col-md-9.py-5.px-4

                        p.mb-0 Encargado de ofertar al cliente productos finales elaborados por la industria y el sector turístico y financiero.

                .row.justify-content-center.align-items-center.my-5.bg-color-1.border-radius

                    .col-12.col-md-3.pl-2.py-2
                        img.img-a(src="assets/images/pages/ilustraciones/img6.png").img-fluid.border-radius
                    .col-12.col-md-9.py-5.px-4

                        p.mb-0 Llamada también economía del conocimiento, en éste se encuentran las actividades económicas basadas en labores intelectuales, son actividades que conciben, crean, interpretan, organizan, dirigen y transmiten con la ayuda y soporte del conocimiento científico y técnico, es decir, con el ingenio del hombre para generar valor para la sociedad. Económicas (2012).   

                p  A continuación se presenta una consolidación de los sectores económicos en la Tabla 2, donde se relacionan las actividades que se llevan a cabo en cada uno de éstos, así

                h2.my-5.text-center Sectores Económicos y sus actividades


                nav.nav-tab-ecored.my-5
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                            strong PRIMARIO
                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                            strong SECUNDARIO
                        a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                            strong TERCIARIO 
                        a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                            strong CUATERNARIO                    

                        
                    #nav-tabContent.tab-content
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                            p Agricultura, ganadería, silvicultura, pesca, caza y minería. Clasificación industrial (ejemplos) de las actividades primarias:
                            ul.my-5
                                li
                                    p Cultivos agrícolas transitorios. 
                                li
                                    p Cultivos agrícolas permanentes
                                li
                                    p Propagación de plantas (viveros)
                                li
                                    p Ganadería (ganado bovino y porcino, ovejas, aves de corral etc.) 
                                li
                                    p Explotación mixta
                                li
                                    p Caza ordinaria 
                                li
                                    p Silvicultura y otras actividades forestales
                                li
                                    p Extracción de madera
                                li
                                    p Pesca y acuicultura
                                li
                                    p Extracción de minas y canteras
                                li
                                    p Extracción de minerales 
                        
                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                            p Industrias manufactureras, construcción y generación y distribución de agua, electricidad y gas. Clasificación industrial (ejemplos) de las actividades secundarias:

                            ul.my-5
                                li
                                    p Elaboración de productos alimenticios
                                li
                                    p Elaboración de bebidas
                                li
                                    p Elaboración de productos de tabaco
                                li
                                    p Fabricación de productos textiles
                                li
                                    p Confección de prendas de vestir
                                li
                                    p Transformación de madera
                                li
                                    p Fabricación de papel, cartón
                                li
                                    p Actividades de impresión
                                li
                                    p Fabricación de sustancias y productos químicos
                                li
                                    p Fabricación de farmacéuticos
                                li
                                    p Fabricación de productos de caucho 
                                li
                                    p Fabricación de productos metalúrgicos
                                li
                                    p Fabricación de armas
                                li
                                    p Fabricación de productos informáticos, electrónicos y ópticos
                                li
                                    p Fabricación de vehículos automotores
                                li
                                    p Fabricación de muebles
                                li
                                    p Suministro de electricidad, gas, vapor y aire acondicionado
                                li
                                    p Captación, tratamiento y distribución de agua
                                li
                                    p Construcción de edificios
                          


                        #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')

                            p Comercio al por menor, bienes raíces,  actividades gubernamentales y judiciales, seguros y servicios financieros, servicios de salud, medios de comunicación, transporte y almacenamiento, servicios educativos, hoteles y restaurantes, telecomunicaciones. Clasificación industrial (ejemplos) de las actividades terciarias:
                            ul.my-5
                                li
                                    p Comercio al por menor y al por mayor
                                li
                                    p Transporte y almacenamiento
                                li
                                    p Transporte aéreo
                                li
                                    p Alojamiento y servicios de comida
                                li
                                    p Información y comunicaciones
                                li
                                    p Actividades financieras y de seguro
                                li
                                    p Actividades inmobiliarias
                                li
                                    p Actividades profesionales, científicas y técnicas
                                li
                                    p Actividades de servicios administrativos y de apoyo
                                li
                                    p Administración pública y defensa
                                li
                                    p Educación
                                li
                                    p Actividades de atención de la salud humana y asistencia social
                                li
                                    p Actividades artisticas, de entretenimiento y recreación
                                li
                                    p Actividades de asociaciones
                                    
                        #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')

                            p En este sector destacan actividades que son muy productivas en la generación de conocimiento y nuevas tecnologías como consultorías, planificación financiera, diseño en general, tecnologías de la información, investigación y desarrollo (I+D) y generación de información.


                img.img-a(src="assets/images/pages/ilustraciones/img7.svg").img-fluid