include ../mixins/functions

+pageHeader('LA EMPRESA', 'assets/images/header/header_media.svg')
.container
    .header-ecored
        h1 2. Contabilidad
        .brand-line-primary
    #21
    .header-ecored
        h1.mt-5 2.1 Concepto
        .brand-line-primary        
    .header
        .card
            .card-body
                p Es una técnica que permite organizar, recopilar, registrar las transacciones o hechos económicos en que incurre una organización. Es una herramienta requerida para consolidar la gestión de la organización durante un período de tiempo y conocer los resultados de las decisiones y acciones tomadas, siendo necesario evaluarlos contra lo planeado.
                br
                p Es una herramienta indispensable para conocer los logros o falencias de la organización y continuar el camino trazado en la planeación o elegir nuevos rumbos con el objeto de obtener los resultados más óptimos, es decir, es un instrumento de control y de evaluación de la organización.
    #22
    .header-ecored
        h1.mt-5 2.2 Clasificación
        .brand-line-primary        
    .header
        .card
            .card-body
                p La contabilidad  ón de información consolidada y de resultados. Existen diferentes tipos de contabilidad y se presentan a continuación:
                h2.mt-3.text-center Tipos de Contabilidad

            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img8.svg").img-position

                .col-8.text-position
                    h2 CONTABILIDAD PÚBLICA
                    p.mb-0 Regida por la Contaduría General de la Nación y encargada de utilizar los mecanismos necesarios para registrar las actividades económicas de las entidades estatales.
                    
            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img9.svg").img-position

                .col-8.text-position
                    h2 CONTABILIDAD DE SERVICIOS
                    p.mb-0 Registra las transacciones realizadas por las empresas cuya actividad económica principal es la prestación de servicios.
                    
            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img10.svg").img-position

                .col-8.text-position
                    h2 CONTABILIDAD BANCARIA
                    p.mb-0 Encargada de registrar las operaciones de los bancos o corporaciones de ahorro y crédito, como son los depósitos en cuenta corriente y en cuenta de ahorros, liquidación de intereses, giros, remesas, comisiones, créditos y otros servicios bancarios.
                    
            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img11.svg").img-position

                .col-8.text-position

                    h2 CONTABILIDAD COMERCIAL
                    p.mb-0 Utilizada para registrar las actividades realizadas alrededor de la compraventa de mercancías en las empresas comerciales.
                    
            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img12.svg").img-position

                .col-8.text-position
                    h2 CONTABILIDAD DE COSTOS
                    p.mb-0 Diseñada para registrar las operaciones económicas que determinan el costo de los productos semielaborados y terminados en empresas manufactureras o industriales.
                    
            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img13.svg").img-position

                .col-8.text-position
                    h2 CONTABILIDAD FISCAL
                    p.mb-0 Su base es la renta gravable, definida en términos impositivos a partir del poder coercitivo de cada uno de los Estados para obtener recursos internos. Debe cumplir condiciones de equidad y justicia y corresponde a las decisiones de política económica de cada uno de los países. 
                    
            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img14.svg").img-position

                .col-8.text-position
                    h2 CONTABILIDAD FINANCIERA
                    p.mb-0 El objetivo es proporcionar datos respecto de la información financiera, el desempeño y los cambios en la posición financiera de la empresa y en los flujos de efectivo, de utilidad para un amplio rango de tomadores de decisiones. Su diferencia con respecto a la contabilidad tradicional es que tiene en cuenta el valor del dinero en el tiempo mediante el manejo de diferentes mediciones de activos, pasivos, patrimonio, ingresos y gastos, que nunca se habían tenido en cuenta. Es la más conocida de todas, y su base comprensiva son las NIIF emitidas por el IASC y por el IASB, de aplicación para todos los continentes excepto para Estados Unidos. 
                    
            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img15.svg").img-position

                .col-8.text-position
                    h2 CONTABILIDAD GERENCIAL
                    p.mb-0 Información de carácter interno, con el fin de impulsar y controlar la gestión, proceso que recibe el nombre de contabilidad gerencial (administrativa, directiva, interna, etc.). Con la unificación de la información a nivel internacional y de los lenguajes de reportes financieros de los negocios (XBRL) se busca que se satisfagan todas las necesidades de las diferentes áreas de la organización.
                    
            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img16.svg").img-position

                .col-8.text-position
                    h2 CONTABILIDAD AMBIENTAL
                    p.mb-0 Toma vigencia por la responsabilidad de todo ente económico de preservar la naturaleza al momento de desarrollar su objeto social, para que su rentabilidad obtenida no sea en detrimento del medio ambiente. Las empresas deben reinvertir parte de sus utilidades en la preservación de cuencas hidrográficas y de sitios de recuperación de especies con el fin de que las nuevas generaciones encuentren un ambiente digno en la futura sociedad. Por consiguiente, hay que tener en cuenta que, en el planeta, todos somos responsables de la preservación del medio ecológico; por esta razón los países ricos están llamados a invertir en la cuenca amazónica, pulmón del mundo. Las NIIF exigen a los entes económicos hacer Capítulo 1 - Introducción a la contabilidad las provisiones necesarias sobre el desmantelamiento de activos que al momento de la liquidación requieran recuperar el medio ambiente. 
                    
            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img17.svg").img-position

                .col-8.text-position
                    h2 CONTABILIDAD SOCIAL
                    p.mb-0 Mide el impacto de la actividad en la sociedad o comunidad en la cual se desarrolla, tanto en la generación de empleo como en el mejoramiento de la calidad de vida, de acuerdo a sus programas con el recurso humano y otros beneficios a empleados de acuerdo a la sección 28.
    #23
    .header-ecored
        h1 2.3 Cuenta y su clasificación
        .brand-line-primary

    .header-ecored
        h1.mt-5 2.3.1  Cuenta
        .brand-line-primary        
    .header
        .card
            .card-body
                p Es el instrumento que permite registrar las operaciones y transacciones económicas realizadas de acuerdo a su naturaleza. Cada cuenta tiene una identificación o nombre que está compuesto por el código contable y el nombre.  

    .header-ecored
        h1.mt-5 2.3.2  Clasificación y nomenclatura de las cuentas
        .brand-line-primary        
    .header
        .card
            .card-body
                p Las cuentas representan las propiedades, derechos y obligaciones de una organización en una fecha determinada, así como los costos, los gastos y las utilidades en un periodo determinado. 

        .row.mx-0(style="background-color:#FF8F00")
            img.img-a(src="assets/images/pages/ilustraciones/img18.png").img-fluid  

        .row.mx-0.pt-5.row-color.justify-content-center.align-items-center
            .col-auto
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img19.svg").img-fluid  
            .col-9 
                h2 Cuentas Reales o de Balance 
                p Estas cuentas representan valores tangibles como las propiedades y las deudas; forman parte del balance de una empresa. Las cuentas reales son Activo, Pasivo y Patrimonio.
                    hr.bd-hr 

        .row.mx-0.pt-5.row-color.justify-content-center.align-items-center
            .col-auto
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img20.svg").img-fluid  
            .col-9 
                h2 Cuentas Nominales, De Resultado o Transitorias
                p Las Cuentas Nominales son llamadas también de Resultado, porque al final de un ejercicio contable dan a conocer las utilidades, costos y gastos; se reconocen como “Transitorias” porque se cancelan al cierre del periodo contable por lo cual desaparecen.
                br
                p Comprende las cuentas del Estado de Ganancias y Pérdidas: Ingresos, Gastos, Costos de Ventas y Costos de Producción o de Operación.
                    hr.bd-hr   

        .row.mx-0.pt-5.row-color.justify-content-center.align-items-center
            .col-auto
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img21.svg").img-fluid  
            .col-9 
                h2 Cuentas de Orden
                p Agrupa los valores que reflejan hechos o circunstancias que puedan llegar a afectar la estructura financiera de la empresa, así como las cuentas que sirven para efectos de control interno o información general, además las que utilizan para conciliar las diferencias entre los registros contables de la empresa y las declaraciones tributarias.
                    hr.bd-hr   

        .row.mx-0.pt-5.row-color.justify-content-center.align-items-center
            .col-auto
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img22.svg").img-fluid  
            .col-9 
                h2 Cuentas de Orden Deudoras
                p Los dineros, documentos y bienes que conforman el grupo de cuentas de orden deudoras, se manejan como las cuentas de Activo, por tanto, su saldo es débito.
                    hr.bd-hr   

        .row.mx-0.pb-5.row-color.justify-content-center.align-items-center
            .col-auto
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img23.svg").img-fluid  
            .col-9 
                h2 Cuentas de Orden Acreedoras
                p Los bienes que se han recibido para custodia, manejo o negociación constituyen el grupo de cuentas de orden acreedoras, estas se manejan como cuentas de Pasivo, por lo cual su saldo es crédito.
                    hr.bd-hr 

        h2.mt-5.text-center Clasificación de las cuentas 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img24.svg").img-fluid  

    .header-ecored
        h1.mt-5 2.3.3 Nomenclatura
        .brand-line-primary        
    .header
        .card
            .card-body
               .row.justify-content-center.align-items-center
                    .col-12.col-md-6
                        p La nomenclatura corresponde a la codificación numérica que reciben así:
                        br 
                        p a)	La clase que se identifican con el primer dígito, 
                        p b)	los grupos que se identifican con los dos primeros dígitos, 
                        p c)	la cuenta con los cuatro primeros dígitos, y 
                        p d)	la subcuenta los seis primeros dígitos
                        br
                        p A continuación se presenta la clase y el grupo de las cuentas, las cuales se constituyen en los títulos principales en los estados financieros básicos, así como en las cuentas de mayor concentración y atención para los usuarios mediante su uso continuo. 
                    .col-12.col-md-6
                        img.img-a(src="assets/images/pages/ilustraciones/img25.svg").img-fluid  
    #24
    .header-ecored
        h1.mt-5 2.4 Normas relacionadas con contabilidad
        .brand-line-primary        
    .header
        .card
            .card-body
               .row.justify-content-center.align-items-center
                    .col-12.col-md-6
                        p Las normas de contabilidad provienen de la legislación establecida en el Estado colombiano como fundamento para llevar a cabo la actividad contable. Son el Decreto 2649 en el que se tratan aspectos como los principios y valores que tiene la información contable. En el decreto 2650 se establece el Plan Único de Cuentas (PUC), que quedó sin validez a partir de la implementación de las NIIF en Colombia.
                    .col-12.col-md-6
                        img.img-a.mt-3(src="assets/images/pages/ilustraciones/img26.svg").img-fluid 
            .card-body    
                p.mt-3 De esta manera existe bibliografía que registra la contabilidad desde sus inicios y cada uno de sus avances a través de la historia, para este caso sólo se menciona la normatividad relacionada con la contabilidad en Colombia desde su reglamentación original hasta la actualidad.
                br
                p A continuación, se presenta el siguiente consolidado del marco legal contable.
                br
                h2.mt-3 Marco Legal Colombiano

                img.img-a.my-5(src="assets/images/pages/ilustraciones/img27.svg").img-fluid 

            .card-body
                .row.justify-content-center.align-items-center
                    .col-12.col-md-6
                        p En el 2015, se realizó una revisión a las normas contables que rigen esta actividad y se expidió el Decreto 2420 de 2015 manteniendo vigentes las disposiciones consignadas en el Decreto 2649 de 1993 vigentes.
                        br
                        p En ese mismo sentido se incluyeron las Normas Internacionales de Información Financiera (NIIF) que es una respuesta a las necesidades de unificar la información contable para acceder a nuevos mercados atrayendo la inversión extranjera, de manera que esta información sea comprensible a cualquier usuario.
                    .col-12.col-md-6
                        img.img-a.mt-3(src="assets/images/pages/ilustraciones/img28.svg").img-fluid 

                p.mt-5 Desde la entrada a Colombia de la Ley 1314 de 2009 o llamada Ley de Convergencia los usuarios de la contabilidad debieron iniciar una preparación para abordar el estudio de las NIC, teniendo en cuenta las normas actuales de contabilidad consagradas en el Decreto Reglamentario 2649/93, perdiendo vigencia el Decreto reglamentario 2650 por el cual se creó el plan único de cuentas y los reguladores globales y nacionales, entre los cuales se encuentran. Como lo describe Fierro (2015): 

                .row.mx-0.pt-5.justify-content-center.align-items-center
                    .col-auto
                        img.img-a.my-5(src="assets/images/pages/ilustraciones/1.svg").img-fluid  
                    .col-6 
                        p La Internacional Accounting Stándar Committee (IASC) fundada en 1973 y hasta el 2001 creó las 41 IAS de las cuales están vigentes 29 (Normas internacionales de contabilidad NIC como se conocen en Colombia) y las SIC que son las interpretaciones. 
                        hr.bd-hr-yellow 

                .row.mx-0.pt-5.justify-content-center.align-items-center
                    .col-auto
                        img.img-a.my-5(src="assets/images/pages/ilustraciones/2.svg").img-fluid  
                    .col-6 
                        p La Internacional Accounting Stándars Board, (IASB) que desde el 2001 ha emitido 9 IFRS (Normas Internacionales de Información Financiera NIIF como se conocen en Colombia), con sus correspondientes IFRIC o CINIIF interpretaciones de las NIIF. 
                        hr.bd-hr-yellow   

                .row.mx-0.py-5.justify-content-center.align-items-center
                    .col-auto
                        img.img-a.my-5(src="assets/images/pages/ilustraciones/3.svg").img-fluid  
                    .col-6 
                        p La Fundación Internacional Accounting Standars Cómmitte, de Educación, que con base en la NIIF para Pequeñas y Medianas Entidades (NIIF para PyMEs) publicado por el Consejo de Normas Internacionales de contabilidad el 9 de julio de 2009, ha elaborado material de formación sobre la NIIF para PyMEs, en este momento se conocen varios módulos. (Pág 18).
                        hr.bd-hr-yellow  

    .header-ecored
        h1.mt-5 2.4.1 Objetivos de la implementación de las NIIF  

        .brand-line-primary        
    .header
        .card
            .card-body

                p Los objetivos de la implementación de las NIIF para pymes, como nuevo lenguaje de los negocios para elaborar los procesos de la información contable, son:

            .row.mx-5.py-5.mb-5.border-radius.row-color-yellow.justify-content-center.align-items-center
                .col-12.col-md-3  
                    img.img-a.py-3(src="assets/images/pages/ilustraciones/img30.svg").img-fluid  
                .col-12.col-md-7
                    ol  
                        li
                            p Implementar un lenguaje universal [argot contable].

                        li
                            p Facilitar el acceso de las entidades a los mercados de capital tanto nacionales como internacionales [bolsas de valores]. 

                        li
                            p Atraer la inversión extranjera para el desarrollo del país, la creación de empleo y una mejor calidad de vida. 

                        li
                            p Reducir el costo de capital productivo. 

                        li
                            p Incrementar la eficiencia del mercado. 

                        li
                            p Mejorar la transparencia, la comparabilidad y la credibilidad y confianza en la información financiera. 

                        li
                            p Seguridad para los inversionistas. 

                        li
                            p Mayores flujos de capital basados en la información. 

                        li
                            p Autoridades responsables. 

    .header-ecored
        h1.mt-5 2.4.2 Visión de estándares globales de contabilidad

        .brand-line-primary        
    .header
        .card
            .card-body

                p La visión de los estándares globales de contabilidad ha sido apoyada públicamente por muchas organizaciones:

                img.img-a.my-5(src="assets/images/pages/ilustraciones/img31.svg").img-fluid  

    .header-ecored
        h1.mt-5 2.4.3  Ámbito de aplicación de las normas internacionales de información financiera (NIIF): 

        .brand-line-primary        
    .header
        .card
            .card-body

                p.mt-5 Las Normas Internacionales de Información Financiera (NIIF) son aplicables a aquellas empresas que están obligadas a presentar informes financieros al público porque sus acciones son cotizadas en la bolsa de valores. Las normas NIIF plenas aplicables a organizaciones con estas características entraron en vigencia a partir de 2015.
                br
                p.mb-5 Las NIIF para pymes se aplican a las organizaciones que los resultados de su gestión y/o la información financiera solo interesa o está orientada a los asociados de la entidad. Las normas de NIIF aplicables a las pymes fueron creadas en el año 2009, con un período de transición y observaciones hasta el año 2012 y entraron en vigencia a partir del año 2018.

    .header-ecored
        h1.mt-5 2.4.4 Organismos emisores de las NIIF 

        .brand-line-primary        
    .header
        .card
            .card-body

            .row.mx-0.mb-5.justify-content-center.align-items-center 
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/1.svg").img-fluid 
                .col-4 
                    p Las Normas Internacionales de Información Financiera (NIIF) son aplicables a aquellas empresas que están obligadas a presentar informes financieros al público porque sus acciones son cotizadas en la bolsa de valores. Las normas NIIF plenas aplicables a organizaciones con estas características entraron en vigencia a partir de 2015. 
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/2.svg").img-fluid 
                .col-4
                    p Sociedad mercantil, sin ánimo de lucro, que tiene por finalidad facilitar el desarrollo o mejorar los resultados de la actividad de sus socios. Su objetivo se limitará exclusivamente a una actividad económica auxiliar de la que se desarrollen sus socios, quienes responderán subsidiaria, personal y solidariamente entre sí por las deudas de la agrupación.

    .header-ecored
        h1.mt-5 2.4.5 Organismos reguladores de las NIIF a nivel nacional e internacional

        .brand-line-primary        
    .header
        .card
            .card-body
                p En Colombia los reguladores nacionales de la contabilidad basados en la Ley 1314 de 2009, son: 

                img.img-a.my-5(src="assets/images/pages/ilustraciones/img32.svg").img-fluid  

                p.text-center En cuanto a los organismos e instancias internacionales se encuentran quienes promueven este tipo de actualizaciones en la información financiera:

                img.img-a.my-5(src="assets/images/pages/ilustraciones/img33.svg").img-fluid

                p.text-center Quienes a su vez cuentan con Comité Internacional de Estándares de Contabilidad (IASC) en inglés International Accounting Stándards Committee.

    .header-ecored
        h1.mt-5 2.4.6 Principales cambios de PCG a NIIF 

        .brand-line-primary        
    .header
        .card
            .card-body 

                .row.justify-content-center.align-items-center
                    .col-12.col-md-4

                        p Según Fierro (2015), son varios los cambios del marco conceptual en los Principios de Contabilidad Generalmente Aceptados (PCGA) local frente a las NIIF, y radican en los siguientes conceptos fundamentales:

                    .col-12.col-md-4
                        img.img-a.my-5(src="assets/images/pages/ilustraciones/img34.svg").img-fluid

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/1.svg").img-fluid 
                    .col-8

                        p La elaboración de las políticas contables como fundamento principal de la contabilidad está a cargo del comité asesor y es aprobada por la alta dirección. Es cierto que estas políticas existían en normas locales, no con tanta relevancia como ahora, donde se constituyen en la forma de gestionar los negocios. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/2.svg").img-fluid 
                    .col-8

                        p Adopción de las NIIF para microempresas, pymes y grandes empresas. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/3.svg").img-fluid 
                    .col-8

                        p La entidad cuyos estados financieros cumplan la NIIF para las PYMES efectuará en las notas una declaración, explícita y sin reservas de dicho cumplimiento. Los estados financieros no deberán señalar que cumplen la NIIF para las PYMES a menos que cumplan con todos los requerimientos de esta NIIF (S3.3). 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/4.svg").img-fluid 
                    .col-8

                        p Identificación y sustanciación de las operaciones a través de la característica de esencia sobre la forma. Los hechos se registran siempre que la empresa tenga el control, reciba los beneficios y asuma los riesgos del bien. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/5.svg").img-fluid 
                    .col-8

                        p Reconocimiento inicial mediante los modelos de costos y valor razonable.  

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/6.svg").img-fluid 
                    .col-8

                        p Reconocimiento posterior mediante los métodos de valuación en la fecha sobre la que se informa. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/7.svg").img-fluid 
                    .col-8

                        p El reconocimiento de forma rigurosa, basado en el cumplimiento de sus requerimientos de activos, pasivos y patrimonio, porque los ingresos y gastos son aumentos o disminuciones de los tres anteriores. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/8.svg").img-fluid 
                    .col-8

                        p Las revaluaciones existen para las NIIF plenas, se aplicarán en la nueva modificación para pymes (2018) y aumentan el valor de los activos contra los resultados integrales. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/9.svg").img-fluid 
                    .col-8

                        p Se efectúan mediciones en inventarios, cartera, propiedad planta y equipo, las cuales se llaman deterioro en el valor de los activos y se calculan a partir de los indicios internos y externos en el desmejoramiento de su importe. En caso de que estos indiquen una mejoría, se debe hacer reversión del deterioro [anteriormente se denominaban provisiones en inventarios, cartera, propiedad planta]. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/10.svg").img-fluid 
                    .col-8

                        p Los activos y pasivos diferidos son los impuestos a las utilidades. A pesar de la diferencia existente entre la S29 y la NIC12, en la nueva versión para pymes se pretende alinear los conceptos.  

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/11.svg").img-fluid 
                    .col-8

                        p Por las diferencias que se generan entre los activos y pasivos contables con relación a los activos y pasivos fiscales, denominados diferencias temporarias [anteriormente diferencias temporales], se debe liquidar el impuesto diferido débito o crédito. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/12.svg").img-fluid 
                    .col-8

                        p  La mayoría de las transacciones donde se espera recibir un bien o servicio en fecha posterior, bajo aplicación de las NIIF, no se difieren debido a que el método de amortización es impracticable por falta de un modelo que asocie el diferido en el tiempo. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/13.svg").img-fluid 
                    .col-8

                        p  No existe correlación o asociación entre ingresos y gastos (S2.52). 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/14.svg").img-fluid 
                    .col-8

                        p No existen compensaciones a discreción del contador, sino por requerimientos de las mismas NIIF.

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/15.svg").img-fluid 
                    .col-8

                        p Los costos de investigación y desarrollo son gastos para las pymes, excepto para las grandes empresas que aplican las plenas.  

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/16.svg").img-fluid 
                    .col-8

                        p Los activos contingentes deben cumplir con la probabilidad de flujos de beneficios económicos futuros probables con medición fiable. Su amortización es sobre la vida útil y, si no se puede calcular, se amortiza en 10 años. La nueva norma permitirá hasta diez años en pymes, mientras que en las normas completas se debe efectuar la evaluación anual de deterioro del valor de los activos. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/17.svg").img-fluid 
                    .col-8

                        p Los pasivos contingentes solo van al estado de situación financiera cuando cumplan con los requerimientos del pasivo (salidas de efectivo probables y fiables). Si su ocurrencia es poco probable, se deja revelado en notas. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/18.svg").img-fluid 
                    .col-8

                        p Las notas a los estados financieros deben revelar las políticas contables de la empresa y los cambios en los rubros significativos del estado de situación financiera. Los usuarios deben conocer las políticas contables empleadas en la preparación de los estados financieros para poder entender la información. Las políticas contables son responsabilidad de la gerencia [en el marco conceptual solo se hace referencia en el artículo 115 de la norma general sobre revelaciones a las políticas contables, las que perdían su esencia por la incidencia y exigencia de la norma fiscal]. 

                .row.mt-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/19.svg").img-fluid 
                    .col-8

                        p Los cambios voluntarios en las políticas contables y los cambios en las estimaciones y errores se hacen en forma retrospectiva. 

                .row.my-5.justify-content-center.align-items-center

                    .col-auto
                        img.img-a(src="assets/images/pages/ilustraciones/20.svg").img-fluid 
                    .col-8

                        p El criterio profesional es para definir las estimaciones (Fierro, A. (2015).

                img.img-a.my-5(src="assets/images/pages/ilustraciones/img35.svg").img-fluid

    .header-ecored
        h1.mt-5 2.4.7	Principios de contabilidad 

        .brand-line-primary  

    .header-ecored
        h1.mt-5 2.4.7.1 Principios de contabilidad 

        .brand-line-primary                 
    .header
        .card
            .card-body 
                .row.my-5.justify-content-center.align-items-center
                    .col-12.col-md-6
                        p Conceptos y Principios Generales: De acuerdo al Artículo 6º de la Ley 43 de 1990, son principios o normas de contabilidad generalmente aceptados en Colombia, el conjunto de conceptos básicos y de reglas que deben ser observados al registrar e informar contablemente sobre los asuntos y actividades de personas naturales o jurídicas. Basada en éstos la contabilidad permite identificar, medir, clasificar, registrar, interpretar, analizar, evaluar e informar la historia de las operaciones de un ente económico, en forma clara, completa y fidedigna (Art. 1º, Decreto Reglamentario 2649/93).
                    .col-12.col-md-6
                        img.img-a.my-5(src="assets/images/pages/ilustraciones/img36.svg").img-fluid

                p Los conceptos y principios generales están compuestos:

                img.img-a.my-5(src="assets/images/pages/ilustraciones/img37.svg").img-fluid

                p Con la conversión a las NIIF la contabilidad en Colombia da un paso de avance al generar información oportuna y confiable, base para la toma de decisiones fundamentada en las normas básicas, técnicas generales y especiales para la revisión de la gestión de la organización y orientada al crecimiento de la empresa y los beneficios de sus dueños, empleados y la comunidad del entorno donde se desarrolla.
                br
                p De acuerdo con Fierro, A. (2015), los fundamentos teóricos que maneja la contabilidad, son: 

                ul.mt-4 
                    li
                        p Patrimonialista, que consiste en que la información financiera debe servir a los intereses de sus dueños. 

                    li
                        p Mantenimiento del capital financiero, que consiste en fortalecer el patrimonio en la medida que se capitalicen valores de las utilidades del ejercicio se le da mayor capacidad productiva y eficiencia en sus operaciones.                        


                p El Decreto reglamentario 2649 de 1993 estableció las normas básicas y normas técnicas de la contabilidad como componentes de los principios de la contabilidad generalmente aceptados, como se muestra a continuación:
                br
                p Las normas básicas están orientadas a las características que debe cumplir la contabilidad como: ente económico, continuidad, unidad de medida, período contable, valuación o medición, esencia sobre la forma, realización, asociación o relación de causalidad, mantenimiento del patrimonio, revelación plena, importancia relativa o materialidad, prudencia, y características y prácticas de cada actividad.
                br
                p Así mismo las normas técnicas están orientadas a los requisitos  y tratamiento que se debe dar a la información contable: Reconocimiento de los hechos económicos, Contabilidad de causación o por acumulación, Medición al valor histórico, Moneda funcional, Ajuste de la unidad de medida, Provisiones y contingencias, Clasificación de los hechos económicos, Asignación de costos y gastos, Diferimiento de ingresos y gastos, Asientos contables, Verificación de las afirmaciones, Ajustes, Información posterior a la fecha de cierre, Cierre contable.
                br
                p Lo anterior se representa en:
                br
                .row.justify-content-center.align-items-center
                    .col-8
                        p Utilidad en la toma de decisiones, basada en la información financiera como función de satisfacción a los usuarios inversionistas, como quiera que sus acciones se mueven en el mercado de capitales, como es el caso norteamericano. 
                        br
                        p Confianza pública, con fundamento en la fé pública que emite el contador cuando firma un estado financiero y da confianza tanto al Estado como a terceros. 
                        br
                        p Con la estandarización de la contabilidad, para las pymes se adquiere: 

                img.img-a.my-5(src="assets/images/pages/ilustraciones/img38.svg").img-fluid

                img.img-a.my-5(src="assets/images/pages/ilustraciones/img39.svg").img-fluid  

                h2.text-center Aunque el Decreto Reglamentario 2649 de 1993 no ha sido derogado, la implementación de las NIIF en el ejercicio contable implica:  

            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img40.svg").img-position

                .col-8.text-position
                    p.mb-0 Fundamento económico. Lo primero que se debe hacer es recoger la información sobre la transacción o suceso económico, útil en las decisiones de los inversores y prestamistas sobre el suministro de recursos a la entidad. 

            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img41.svg").img-position

                .col-8.text-position
                    p.mb-0 Identificación. Tiene que ver con el resultado de ese suceso, como por ejemplo un activo que debe cumplir con las características de la capacidad de generar beneficios en el futuro para la entidad.      

            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img42.svg").img-position

                .col-8.text-position
                    p.mb-0 Clasificación. Tiene que ver con identificar la NIIF que se debe aplicar, dependiendo de su naturaleza y características.      

            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img43.svg").img-position

                .col-8.text-position
                    p.mb-0 Reconocimiento. Hace referencia de: ¿cuándo sucedió el hecho?, ¿en qué momento la entidad asume los riesgos y los beneficios?, ¿qué cuenta es la más apropiada para su registro, dependiendo del criterio profesional? Medición en el reconocimiento inicial. Tiene que ver con el método de valoración, que por lo regular está definido por el costo y otros elementos que subyacen en la operación.      

            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img44.svg").img-position

                .col-8.text-position
                    p.mb-0 Medición posterior. También hace relación al valor que muestre la mejor alternativa de valuación, como por ejemplo el valor razonable, siempre que el bien permanezca dentro de sus activos disponibles para su uso, porque necesariamente genera una utilidad.       

            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img45.svg").img-position

                .col-8.text-position
                    p.mb-0 Baja en cuentas. Debe responder: ¿en qué momento se dará?, ¿tendrá utilidad o pérdida en la baja en cuenta?      

            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img46.svg").img-position

                .col-8.text-position
                    p.mb-0 Presentación. La presentación en el estado de situación financiera corresponde a la disposición del bien, que puede ser para la venta, uso o inversiones en propiedad.        

            .row.my-5.card-row.justify-content-md-center

                .col-auto.z-index

                    img(src="assets/images/pages/ilustraciones/img47.svg").img-position

                .col-8.text-position
                    p.mb-0 Información a revelar. La revelación en notas de todo aquello que sea necesario para una mejor comprensión, como NIIF aplicada, reconocimiento, medición, valor razonable y su metodología aplicada.  

            .row.mt-5.justify-content-center.align-items-center
                    .col-8
                        h2  Todo esto orientado a cuestionarse en cuanto a las decisiones a tomar según los resultados arrojados en la información financiera. ¿Cuáles son esas decisiones?  

            .row.mt-5.justify-content-center.align-items-center 
                .col-8           
                    .row.mt-5.justify-content-center.align-items-center
                        .col-auto
                            img.img-a(src="assets/images/pages/ilustraciones/21.svg").img-fluid  
                        .col-8
                            p Los inversores existentes o potenciales requieren comprar nuevas emisiones de capital, vender sus inversiones y también capitalizar la empresa para darle mantenimiento del patrimonio. Decretar dividendos para sus accionistas o participaciones a sus socios.
                            hr.bd-hr-yellow                              

                    .row.mt-5.justify-content-center.align-items-center
                        .col-auto
                            img.img-a(src="assets/images/pages/ilustraciones/22.svg").img-fluid  
                        .col-8
                            p Los prestamistas exigen la liquidación de sus acreencias. Inversores, prestamistas o acreedores requieren ver los estados financieros en perspectiva del estado de flujos neto de efectivo futuro de la entidad para analizar la capacidad de generar nuevos flujos de efectivo.
                            hr.bd-hr-yellow                              

                    .row.my-5.justify-content-center.align-items-center
                        .col-auto
                            img.img-a(src="assets/images/pages/ilustraciones/23.svg").img-fluid  
                        .col-8
                            p Características cualitativas Los estados financieros se preparan bajo las siguientes características cualitativas fundamentales y de mejora [antes: cualidades de la información contable], para que la información financiera sea útil y fiable. 
                            hr.bd-hr-yellow                                                         

                .col-4              
                    img.img-a.my-5(src="assets/images/pages/ilustraciones/img49.svg").img-fluid 

                    h3.px-3 De igual manera existen conceptos y principios tanto para las NIIF plenas como para las pymes, como se presenta a continuación,

            .card-body                     

                h2.mt-5.text-center Características cualitativas de la información financiera útil 

                img.img-a.my-5(src="assets/images/pages/ilustraciones/img50.svg").img-fluid 

                p Aunque las NIIF son normas claramente definidas que han venido siendo implementadas alrededor del mundo con el fin de acceder a mercados globalizados en igualdad de condiciones. Para Fierro, A (2015), existe un problema porque aunque están definidos los conceptos y principios generales de la contabilidad, se presenta la disyuntiva entre las NIIF y las armonizaciones con las NIIF en forma local, siendo preparadas discrecionalmente con adiciones, mejoras y eliminaciones, donde finalmente no se adoptan éstas normas sino que cada país hace lo propio. Otro problema que se identifica es el rezago contable de medición al costo, por la falta de experiencia en la adopción por primera vez y en la implementación posterior, de acuerdo a unos procedimientos basados en el marco conceptual para aplicación de las NIIF.
    #25
    .header-ecored
        h1.mt-5 2.5	Características de pequeñas y medianas empresas  

        .brand-line-primary        
    .header
        .card
            .card-body 
                p Las características de las pequeñas y medianas entidades se describen en las NIIF para pymes o empresas que no negocian sus instrumentos de patrimonio en bolsas de valores nacionales o internacionales.
                br
                p Las Pymes tienen las siguientes obligaciones: 

                img.img-a.my-5(src="assets/images/pages/ilustraciones/img51.svg").img-fluid 

                pNo hay diferencia con las NIC plenas, donde se exponen los estados financieros con propósito de información general, que permitan la comparación con la misma entidad de periodos anteriores, como con otras del mismo sector económico (NIC1.1).
                br
                p Hay que tener en cuenta que las NIIF para las pymes son las mismas NIIF plenas en forma simplificada, y en muchos casos son iguales porque su aplicación no exige esfuerzos desproporcionados. 
    #26
    .header-ecored
        h1.mt-5 2.6	Estados financieros con propósito de información general 

        .brand-line-primary        
    .header
        .card
            .card-body 
                .row.my-5.justify-content-center.align-items-center
                    .col-12.col-md-6

                        p El conjunto de estados financieros antes conocidos como estados financieros básicos son: 

                        ul.mt-5
                            li
                                p Estado de Situación Financiera, llamado en normas locales balance general. 

                            li
                                p Estado de Resultado y el Estado del Resultado Integral antes llamado estado de resultados.

                            li
                                p Estado de Cambios en el Patrimonio

                            li
                                p Estado de Flujos de Efectivo

                            li
                                p Además de las Notas a los estados financieros que también hacen parte del paquete de información porque sirven para la toma de decisiones económicas.

                        p.mt-5                                                                                                                                

                    .col-12.col-md-6

                        img.img-a.my-5(src="assets/images/pages/ilustraciones/img52.svg").img-fluid 
    #27
    .header-ecored
        h1.mt-5 2.7 Clasificación de los grupos de empresas  

        .brand-line-primary        
    .header
        .card
            .card-body
                p  Para Colombia, el direccionamiento estratégico del Consejo Técnico de la Contaduría definió los grupos de empresas así: 

                img.img-a.my-5(src="assets/images/pages/ilustraciones/img53.svg").img-fluid

                .row.my-5.justify-content-center.align-items-center
                    .col-8
                        p  En el caso de que una subsidiaria cuya controladora utilice NIIF plenas y no tenga obligación pública de rendir cuentas, puede cumplir con las disposiciones de las NIIF para pymes (S1.6). Una subsidiaria es una entidad donde la controladora [casa matriz] ha hecho sus inversiones para obtener beneficios en el futuro económico. 
    #28
    .header-ecored
        h1.mt-5 2.8 Estructura de las NIIF y NIIF pymes 

        .brand-line-primary        
    .header
        .card
            .card-body
                h2  Estructura de las NIIF y NIIF pymes
                p.mt-5 El siguiente cuadro corresponde a las normas internacionales que están disponibles para su adopción, tanto en empresas que deben reportar información al público del mercado de valores como en las pequeñas y medianas empresas y en las microempresas, que son las mismas secciones con un grado mayor de simplicidad.
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img54.svg").img-fluid                                 