.container

  ol

    li
      p 
        | Córdoba, M. (2014). Books Google. 
        i “Análisis Financiero”. 
        |  Ecoe Ediciones. Primera Edición. Bogotá. Consultado en 
        a(href="https://books.google.com.co/books?id=_dvDDQAAQBAJ&printsec=frontcover&dq=libros+de+indicadores+financieros&hl=es&sa=X&ved=0ahUKEwi-jMjb9czkAhUpzlkKHcZeDq4Q6AEILjAB#v=onepage&q=libros%20de%20indicadores%20financieros&f=true", target="_blank") https://books.google.com.co/books?id=_dvDDQAAQBAJ&printsec=frontcover&dq=libros+de+indicadores+financieros&hl=es&sa=X&ved=0ahUKEwi-jMjb9czkAhUpzlkKHcZeDq4Q6AEILjAB#v=onepage&q=libros%20de%20indicadores%20financieros&f=true


    li
      p 
        | Fierro, M. Á. M. (2015). Contabilidad general con enfoque niif para las pymes (5a. ed.). Retrieved from 
        a(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co", target="_blank") https://ebookcentral-proquest-com.bdigital.sena.edu.co
        
    li
      p 
        | Flórez, J. (2010). 
        i  “Proyectos de Inversión para las PYME.” 
        | Biblioteca Virtual Sena. 
        a(href="http://site.ebrary.com/lib/senavirtualsp/Doc?id=10515119&ppg=98", target="_blank") http://site.ebrary.com/lib/senavirtualsp/Doc?id=10515119&ppg=98

        
    li
      p 
        | Meza, J. (2013). 
        i “Evaluación Financiera de Proyectos (SIL)” 
        | Biblioteca Virtual Sena. 
        a(href="http://site.ebrary.com/lib/senavirtualsp/Doc?id=10732879&ppg=116", target="_blank") http://site.ebrary.com/lib/senavirtualsp/Doc?id=10732879&ppg=116

    li
      p 
        | Urueña, G. (2010). Universidad San Mateo. “Contabilidad Básica”.  
