include ../mixins/functions
.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Antón, P. J. J., & Garijo, D. M. S. (2009). Empresa y administración. Retrieved from ", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")

        +referenciaItem("Fierro, M. Á. M. (2015). Contabilidad general con enfoque niif para las pymes (5a. ed.). Retrieved from ", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")

        +referenciaItem("Ureña Bolaños, O. (2010). Contabilidad básica. Fundación para la Educación Superior San Mateo.”.  ", "https://www.sanmateo.edu.co/documentos/publicacion-contabilidad-basica.pdf")

